<section>
    <div class="container-fluid my-5 py-5 bg-theme text-white ">
        <h1 class="heading text-center pt-5">About Me</h1>
        <div class="bg-secondary-theme text-theme p-5 my-lg-5 my-2 col-md-6 offset-md-3 card ">

            <p> Hi, I'm <strong>Hanzala Sarguroh</strong> , an aspiring Web Developer and currently pursuing my undergraduate degree in
                Computer Engineering. I have a passion for coding and creating engaging web experiences. With a strong
                foundation in programming and problem-solving skills, I strive to develop efficient and user-friendly
                web
                applications</p>.
            <p>
                Throughout my studies, I have gained expertise in various programming languages and web technologies,
                including HTML, CSS, JavaScript, and Angular. I enjoy exploring new frameworks and tools to stay
                up-to-date
                with the latest industry trends. My goal is to leverage my technical skills and creativity to build
                intuitive and visually appealing websites that leave a lasting impression on users.
            </p>
            <p>
                Aside from my technical skills, I am a dedicated learner and a team player. I believe in the power of
                collaboration and enjoy working in diverse teams to tackle complex projects. I am always eager to learn
                and
                improve my skills, staying curious about new technologies and embracing challenges.</p>
            <button class="btn btn-info col-md-2 offset-md-5 btn-sub2 text-white  mt-5 " routerLink="/"> BACK TO HOME</button>
        </div>
    </div>
</section>