<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <div class="site-logo">BLOGIFY</div>
                <ul class="nav justify-content-center">
                    <li class="nav-item"> <a [routerLink]="['/']" routerLinkActive="router-link-active"
                            class="nav-link">Home</a> </li>
                            <li class="nav-item"> <a [routerLink]="['/terms']" routerLinkActive="router-link-active"
                                    class="nav-link">Terms & Conditions </a> </li>
                    <li class="nav-item"> <a [routerLink]="['/about']" routerLinkActive="router-link-active"
                            class="nav-link">About</a> </li>
                </ul>
                <div class="mb-2 mt-2">
                    <p>Copyright Ⓒ  2023  | BLOGIFY 
                    </p>
                </div>
            </div>
                
        </div>
    </div>
</footer>